<%- include("base/cabecera", {tituloWeb: 'Grupo Empresarial M2'}) %>
    <div class="container-fluid">
        <div class="card mx-5 mt-1 mb-1 px-5 py-3 bg-light bg-gradient border-dark">
            <div class="container">
                <img class="proydest" src="images/proydest.png" alt="ProyDest" width="1400" height="800">
            </div>
            
        </div>
        
        <div class="card mx-5 my-1 px-5 py-5 bg-light bg-gradient border-dark text-center">
            <h1 class="card-title">Servicios</h1>
            <div class="container d-flex justify-content-center">
                <div class="card text-center mx-4" style="width: 16rem;">
                    <h3 class="card-header">Titulo servicio</h3>
                    <img class="card-img-top" src="images/imgservicio.png" alt="servicio" >
                    <h4 class="card-text">Breve descripcion del servicio</h4>
                </div>
                <div class="card text-center mx-4" style="width: 16rem;">
                    <h3 class="card-header">Titulo servicio</h3>
                    <img class="card-img-top" src="images/imgservicio.png" alt="servicio">
                    <h4 class="card-text">Breve descripcion del servicio</h4>
                </div>
                <div class="card text-center mx-4" style="width: 16rem;">
                    <h3 class="card-header">Titulo servicio</h3>
                    <img class="card-img-top" src="images/imgservicio.png" alt="servicio">
                    <h4 class="card-text">Breve descripcion del servicio</h4>
                </div>
                
            </div>
            <div class="container my-3 d-flex justify-content-center">
                <div class="card text-center mx-4" style="width: 16rem;">
                    <h3 class="card-header">Titulo servicio</h3>
                    <img class="card-img-top" src="images/imgservicio.png" alt="servicio">
                    <h4 class="card-text">Breve descripcion del servicio</h4>
                </div>
                <div class="card text-center mx-4" style="width: 16rem;">
                    <h3 class="card-header">Titulo servicio</h3>
                    <img class="card-img-top" src="images/imgservicio.png" alt="servicio">
                    <h4 class="card-text">Breve descripcion del servicio</h4>
                </div>
            </div>
            
        </div>

        <div class="card mx-5 my-1 px-5 py-5 bg-light bg-gradient border-dark text-center">
            <h1 class="card-title">Nuestros clientes</h1>
            <div class="container d-flex justify-content-center">
                <img class="servicio" src="images/imgcliente.png" alt="servicio" width="160" height="120">
                <img class="servicio" src="images/imgcliente.png" alt="servicio" width="160" height="120">
                <img class="servicio" src="images/imgcliente.png" alt="servicio" width="160" height="120">
            </div>
            
        </div>

        <div class="card mx-5 my-5 px-5 py-5 bg-light bg-gradient border-dark text-center">
            <div class="container d-flex justify-content-center">
                <img class="mapa" src="images/mapa.png" alt="Mapa" width="800" height="489" >
                <img class="contacto" src="images/contacto.png" alt="Contacto" width="800" height="489" >
            </div>
        </div>
    </div>

<%- include("base/footer") %>