
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <img class="logo" src="images/logo.png" alt="Logo" width="160" height="80">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-2">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/">Nosotros</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Contacto</a>
        </li>
      </ul>
    </div>
    <img class="redes" src="images/redes.png" alt="redes" width="80" height="80">
  </div>
</nav>
